table-panel {
    position: absolute;
    
    
    width: 85%;
    display: block;
    background: lightgray;
    -webkit-transition: 0.3s;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    
    top:24.7%;
    height:65%;
    left:15%;
}

