<table width=85% border="1">
  <tr>
    <td width=30%>TRACK</td>
    <td width=30%>ARTIST</td>
    <td width=30%>ALBUM</td>
    <td width=10%>GENRE</td>
  </tr>
  <tr>
    <td width=30%> Guns and Roses</td>
    <td width=30%> Night Train </td>
    <td width=30%> Appetite for Destruction</td>
    <td width=30%> Rock</td>
  </tr>
   <tr>
    <td width=30%> Grateful Dead</td>
    <td width=30%> Blues for Allah</td>
    <td width=30%> Magical Mystery Tour</td>
    <td width=30%> Rock</td>
  </tr>
  <tr>
    <td width=30%> The Doors</td>
    <td width=30%> Light My Fire</td>
    <td width=30%> Light My Fire</td>
    <td width=30%> Rock</td>
  </tr>
    <tr>
    <td width=30%> İron Maiden </td>
    <td width=30%> Run to the Hills</td>
    <td width=30%> The Number of the Beast</td>
    <td width=30%> Metal</td>
  </tr>
  <tr>
    <td width=30%> Lamb of God</td>
    <td width=30%> Redneck</td>
    <td width=30%> Sacrament</td>
    <td width=30%> Metal</td>
  </tr>
   <tr>
    <td width=30%> Daft Punk</td>
    <td width=30%> One More Time</td>
    <td width=30%> Discovery</td>
    <td width=30%> Pop</td>
  </tr>
  <tr>
    <td width=30%> Michael Jackson </td>
    <td width=30%> Beat it</td>
    <td width=30%> Thriller</td>
    <td width=30%> Pop</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>




