menu {
    position: absolute;
    height: 25%;
    background: #505050;
    color: white;
    padding: 10px;
    right: 0px;
    width: 85%;
    top: -20px;
    layout: flow;
    display: inline-block
}

menu h1 {
    font-weight: 300;
    display: inline;
}

menu button {
    
    display: absolute;
    background: #999;
    color: #fff;
    margin: 5%;
    padding: 5%;
    border: 5%;
    width: 20%;
    
    
    }

.menubuttonContainer { 
    left: 0;
    position: block;
    width: 600;
    top: 0;
    height: 100px;
    display: inline-block    
    }

select {
    display: block;
    margin: 1%;
       
}

