button(ng-click="$ctrl.loginBtn()") Login With Your Spotify Account
h5 BUMO is an app which shuffles Spotify tracks to create random playlists. Login with Spotify to listen to full length tracks.

div.buttonContainer
    button(ng-click="$ctrl.combGenresBtn()") Combine Genres
    button(ng-click="$ctrl.saveListBtn()") Login to Save
    button(ng-click="$ctrl.aboutBtn()") About Us
