bottom-panel {
    position: absolute;
    
    height: 10%;
    width: 85%;
    display: block;
    background: lightslategrey;
    -webkit-transition: 0.3s;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    
    bottom:0px;
    right:0px;
}

bottom-panel button{
    display: inline-block;
    background: #999;
    color: #fff;
    margin: 20px;
    padding: 10px;
    border: 50px;
    width:10%;
    left: 25%;
   
}
