bottom-panel {
    position: absolute;
    right: 0px;
    height: 125px;
    width: 85.2%;
    display: block;
    background: lightslategrey;
    -webkit-transition: 0.3s;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    
    bottom: 0px;
    left: 280px;
}

bottom-panel button{
    display: inline-block;
    background: #999;
    color: #fff;
    margin: 20px;
    padding: 10px;
    border: 50px;
    width: 100px;
    left: 300px;
}
