bottom-panel {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 400px;
    width: 100%;
    display: block;
    background: white;
    z-index: 3;
    -webkit-transform: translateX(100%);
    -webkit-transition: 0.3s;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}